
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
}

.cb-logo-container {
    height: 63px;
    padding: 10px 0;
}

.cb-logo-container-img {
    height: 63px;
}

.nav-items-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right:0;
}

.nav-items-container ul {
    display: flex;
    margin: auto;
}

.nav-items-container li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-items-container li a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #3c097d;
}

.active {
    color: white !important;
    background-color: #3c097d;
    padding: 10px 14px;
    border-radius: 4px;
}



.student-name-and-arrow-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left:10px;
    margin-right:0%;
}

.student-name-and-arrow-container p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #2d0660;
}

.student-name-and-arrow-container img {
    width: 36px;
}

.containerHead {
    width: 60%;
    margin: 32px auto 5px;
    color: #3c097d;
    font-family: "Poppins", sans-serif;
}

.select {
    font-size: 18px;
    margin: 8px 0;
}

.containerMain {
    width: 60%;
    margin: 20px auto;
    background-color: rgb(231, 231, 231);
    display: grid;
    /*grid-template-rows: auto auto auto auto;*/
    grid-template-columns: auto auto;
}

@media screen and (max-width:800px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        margin: 0 auto;
    }
    .cb-logo-container {
        height: 63px;
        padding: 10px 0;
        margin-bottom: 10px;
    }
    .nav-items-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        margin-bottom: 15px;
    }
    .profile-photo {
        width: 40px;
    }
}

@media screen and (max-width:600px) {
    .containerMain {
        grid-template-columns: auto;
    }
    .nav-items-container ul {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .nav-items-container li {
        list-style: none;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 11px;
    }
}

@media screen and (max-width:1100px) {
    .nav-items-container li a {
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #3c097d;
    }
    .nav-container {
        display: flex;
        justify-content: space-between;
        width: 95vw;
        margin: 0 auto;
    }
}

    .header {
        position: absolute;
        width: 240px;
        height: 54px;
        left: 180px;
        top: 161px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 54px;
        /* identical to box height */
        
        
        color: #3C097D;
        
    }
   

    .ranking{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 21px;
        gap: 10px;
        
        width: 789px;
        height: 590px;
        
        background: #F0EFEF;
        border-radius: 10px;
        
        /* Inside auto layout */
        
        flex: none;
        order: 1;
        flex-grow: 0;
  

    }
    
    
.list .grey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 21px;
    gap: 10px;

    width: 789px;
    height: 800px;

    background: #F0EFEF;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    width: 743px;
    height: 102px;

    background: #4C0AA3;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.one .one-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    width: 700px;
    height: 62px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}



.one-contents .one-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 150px;

    width: 700px;
    height: 62px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.name-pos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 50px;

    width: 240px;
    height: 62px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

.pos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 25px;
    gap: 10px;

    width: 59px;
    height: 62px;

    background: #FFFFFF;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.pos .posnum {
    width: 9px;
    height: 36px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    color: #FF1684;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.one-name {
    width: 131px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.one-items .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 44px;
    height: 54px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.one-items .info .branch {
    width: 33px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.one-items .info .branch {
    width: 44px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.one-items .points {
    width: 116px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.rem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    width: 745px;
    height: 102px;

    background: #FFFFFF;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.rem .rem-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    width: 705px;
    height: 62px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.rem-contents .rem-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 150px;

    width: 705px;
    height: 62px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.rem-items .name-pos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 50px;

    width: 245px;
    height: 62px;
}

.rem-items .name-pos .pos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 25px;
    gap: 10px;

    width: 64px;
    height: 62px;

    background: #FF1684;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.rem-items .name-pos .pos .posnum {
    width: 14px;
    height: 36px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    color: #FCFBFE;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.rem-name {
    width: 131px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #2D0660;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.rem-items .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 44px;
    height: 54px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.rem-items .info .branch {
    width: 33px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #706F6F;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.rem-items .info .year {
    width: 44px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #706F6F;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.rem-items .points {
    width: 116px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #4C0AA3;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}


.first {
    display: flex;
   /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 5px 400px;
   

    width: 200px;
    height: 655px;

    background: #FFFFFF;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin:0;
}

.first-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 23px;

    width: 200px;
    height: 495px;

    background: #FFFFFF;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.details {

    align-items: center;
    padding: 0px;
    gap: 0px;

    width: 216px;
    height: 80px;


    /* Inside auto layout */


}

.name {

    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 0px;

    width: 250px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 27px;
    color: #4C0AA3;



    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.details .info {

    flex-direction: row;
    justify-content: center;
    padding-left: 60px;
    padding-bottom: 0px;
    gap: 0px;
    width: 250px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #4C0AA3;



    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.total_answered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 0px;

    width: 215px;
    height: 50px;

    background: #FF1684;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.total_answered_text {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 30px;
    gap: 25px;

    width: 184px;
    height: 27px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ta {

    width: 142px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ta_num {
    width: 17px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


.total_questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;

    width: 215px;
    height: 57px;

    background: #FF1684;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.total_question_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    width: 184px;
    height: 27px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.tq {
    width: 142px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.tq_num {
    width: 17px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.top{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 21px;
gap: 10px;

width: 519px;
height: 589px;

background: #F0EFEF;
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
