.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 129px;

    position: absolute;
    width: 1245px;
    height: 75px;
    left: 170px;
    top: 28px;
}

.frame71{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 129px;

position: absolute;
width: 1245px;
height: 75px;
left: 232px;
top: 63px;
}

.frame21{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;

width: 186px;
height: 75px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.icon_cb{
    width: 78px;
    height: 75px;
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.frame70{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 158px;
    
    width: 930px;
    height: 64px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;  
}

.frame30{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 15px;

width: 527px;
height: 50px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame28{
    display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 20px;

width: 183px;
height: 50px;

border-radius: 3px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}



.header {
    position: absolute;
    width: 240px;
    height: 54px;
    left: 180px;
    top: 161px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */


    color: #3C097D;

}

.cb-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 11px;
    width: 186px;
    height: 75px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav-items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 158px;
    width: 930px;
    height: 64px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 527px;
    height: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ayd {
    width: 163px;
    height: 30px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #3C097D;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.frame29{
    display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 20px;

width: 154px;
height: 50px;

background: #3C097D;
border-radius: 3px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.leaderboard {
    width: 134px;
height: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame30{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 20px;
    
    width: 81px;
    height: 50px;
    
    border-radius: 3px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0; 
}

.about {
    width: 61px;
height: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #3C097D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame31 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 20px;

    width: 64px;
    height: 50px;

    border-radius: 3px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}
.quiz{
    width: 44px;
    height: 30px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #3C097D;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.frame69{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 18px;
    
    width: 245px;
    height: 64px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0; 
}

.frame35{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    
    width: 163px;
    height: 27px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.St.name{
    width: 131px;
height: 27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #2D0660;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.arrow{
    width: 24px;
    height: 24px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0; 
}

.vector{
    position: absolute;
left: 25%;
right: 25%;
top: 35.79%;
bottom: 33.33%;

background: #2D0660;
}

.profile-picture{
    width: 64px;
    height: 64px;
    
    /* Female/10 */
    
    background: url(132.png);
    border-radius: 64px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0; 
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 1332px;
    height: 590px;
    left: 176px;
    top: 500px;
}

.outer {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 21px;
    gap: 20px;

    width: 519px;
    height: 760px;

    background: #F0EFEF;
    border-radius: 10px;



}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 49px 159px;
    gap: 23px;

    width: 200px;
    height: 655px;

    background: #FFFFFF;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.first-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 23px;

    width: 200px;
    height: 495px;

    background: #FFFFFF;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.leader-pic {
    width: 200px;
    height: 200px;

    /* Female/10 */

    background: url(132.png);
    border-radius: 0%;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.details {

    align-items: center;
    padding: 0px;
    gap: 0px;

    width: 216px;
    height: 80px;


    /* Inside auto layout */


}

.name {

    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 0px;

    width: 250px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 27px;
    color: #4C0AA3;



    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.details .info {

    flex-direction: row;
    justify-content: center;
    padding-left: 60px;
    padding-bottom: 0px;
    gap: 0px;
    width: 250px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #4C0AA3;



    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.total_answered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 0px;

    width: 215px;
    height: 50px;

    background: #FF1684;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.total_answered_text {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 30px;
    gap: 25px;

    width: 184px;
    height: 27px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ta {

    width: 142px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ta_num {
    width: 17px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


.total_questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;

    width: 215px;
    height: 57px;

    background: #FF1684;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.total_question_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    width: 184px;
    height: 27px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.tq {
    width: 142px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.tq_num {
    width: 17px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


.list .grey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 21px;
    gap: 10px;

    width: 789px;
    height: 760px;

    background: #F0EFEF;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    width: 743px;
    height: 102px;

    background: #4C0AA3;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.one .one-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    width: 700px;
    height: 62px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}



.one-contents .one-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 150px;

    width: 700px;
    height: 62px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.name-pos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 50px;

    width: 240px;
    height: 62px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

.pos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 25px;
    gap: 10px;

    width: 59px;
    height: 62px;

    background: #FFFFFF;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.pos .posnum {
    width: 9px;
    height: 36px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    color: #FF1684;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.one-name {
    width: 131px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.one-items .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 44px;
    height: 54px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.one-items .info .branch {
    width: 33px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.one-items .info .branch {
    width: 44px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.one-items .points {
    width: 116px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.rem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;

    width: 745px;
    height: 102px;

    background: #FFFFFF;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.rem .rem-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    width: 705px;
    height: 62px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.rem-contents .rem-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 150px;

    width: 705px;
    height: 62px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.rem-items .name-pos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 50px;

    width: 245px;
    height: 62px;
}

.rem-items .name-pos .pos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 25px;
    gap: 10px;

    width: 64px;
    height: 62px;

    background: #FF1684;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.rem-items .name-pos .pos .posnum {
    width: 14px;
    height: 36px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    color: #FCFBFE;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.rem-name {
    width: 131px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #2D0660;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.rem-items .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 44px;
    height: 54px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.rem-items .info .branch {
    width: 33px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #706F6F;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.rem-items .info .year {
    width: 44px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #706F6F;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.rem-items .points {
    width: 116px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #4C0AA3;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}
